.contactoContainer {
  background: #064663;
  height: 132vw;
}
.seccionContact {
  z-index: 6;
  width: 100%;
  position: relative;
  top: -14vw;
}
.contactoContainer > h2 {
  font-size: 12.5vw;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  z-index: 7;
  top: -75vw;
  position: relative;
}
.contactos {
  position: relative;
  top: -55vw;
  z-index: 6;
}
.links img {
  width: 13vw;
  margin-right: 3vw;
}
.links span {
  color: #ffffff;
  font-weight: 400;
  font-size: 6vw;
  width: 50vw;
}
.links {
  display: flex;
  justify-content: center;
  margin-bottom: 10vw;
  align-items: center;
}
.links a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-decoration-color: #ffffff;
  cursor: pointer;
}
