/* Vista movil */
.homeContainer {
  background: #6eccaf;
  height: 166vw;
}
.homeText {
  text-align: center;
}
.homeText > h1 {
  padding: 2vw 1vw;
  font-weight: 800;
  text-align: center;
  font-size: 12.5vw;
  color: #041c32;
}
.homeText > h2 {
  padding: 4vw 15vw;
  font-size: 7vw;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
.boldDark {
  color: #041c32;
  font-size: 8vw;
  font-weight: 800;
  padding-right: 3vw;
}
.boldLight {
  color: #ffffff;
  font-size: 8vw;
  font-weight: 800;
}
.homeButtons .homeDate {
  text-align: center;
  padding: 2.5vw;
  color: #ffffff;
  border-radius: 5vw;
  display: block;
  margin: 8vw auto;
  font-size: 6vw;
  font-weight: 700;
  background: #007065;
  border: #91eace solid 0.8vw;
  box-shadow: 2px 2px 5px 1px #206a5d;
}
.homeButtons .buttonFoot > img {
  display: flex;
  width: 22vw;
  height: auto;
  position: relative;
  top: 35vw;
  left: calc(100% / 1.3);
}
.homeButtons a {
  text-decoration: none;
}
.homeElements .dogHome {
  display: flex;
  top: -15vw;
  position: relative;
  margin: auto;
  width: 50vw;
}
.homeElements .vectorWave {
  position: relative;
  top: -36vw;
  width: 100%;
}
.bubble1 {
  position: absolute;
  top: 58vw;
  left: 14vw;
  width: 8vw;
}
.bubble2 {
  position: absolute;
  top: 146vw;
  right: 22vw;
  width: 8vw;
}
.bubble3 {
  position: absolute;
  top: 160vw;
  left: 19vw;
  width: 9vw;
}
.bubble4 {
  position: absolute;
  top: 90vw;
  left: 26vw;
  width: 7vw;
}
.bubble5 {
  position: absolute;
  top: 92vw;
  right: 17vw;
  width: 9vw;
}
.bubble6 {
  position: absolute;
  top: 120vw;
  right: 8vw;
  width: 9vw;
}
.bubble7 {
  position: absolute;
  top: 116vw;
  left: 5vw;
  width: 24vw;
}
.bubble8 {
  position: absolute;
  top: 58vw;
  right: 8vw;
  width: 12vw;
}
.comb {
  position: absolute;
  top: 76vw;
  right: 6vw;
  width: 12vw;
}
.scissors {
  position: absolute;
  width: 23vw;
  left: 3vw;
  top: 88vw;
}
